@page "/reviews/edit"
@using Microsoft.EntityFrameworkCore
@using FSD_Project.Domain
@inject IDbContextFactory<FSD_Project.Data.FSD_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Review</h2>
<hr />
@if (Review is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Review" OnValidSubmit="UpdateReview" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Review.Id" value="@Review.Id" />
                <div class="mb-3">
                    <label for="score" class="form-label">Score:</label>
                    <InputNumber id="score" @bind-Value="Review.Score" class="form-control" />
                    <ValidationMessage For="() => Review.Score" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment:</label>
                    <InputText id="comment" @bind-Value="Review.Comment" class="form-control" />
                    <ValidationMessage For="() => Review.Comment" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="reservationid" class="form-label">ReservationId:</label>
                    <InputText id="reservationid" @bind-Value="Review.ReservationId" class="form-control" />
                    <ValidationMessage For="() => Review.ReservationId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Review.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Review.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Review.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Review.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Review.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Review.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Review.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Review.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/reviews">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Review? Review { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Review ??= await context.Reviews.FirstOrDefaultAsync(m => m.Id == Id);

        if (Review is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReview()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Review!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReviewExists(Review!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reviews");
    }

    private bool ReviewExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reviews.Any(e => e.Id == id);
    }
}
