@page "/"

<PageTitle>Home</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Index Page</title>


	<meta charset="utf-8">
</head>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

<body>
	<!-- Testing GitHub -->
	<header>
		<h1>Welcome to Athens.</h1>
	</header>
	<p class="paragraph"> Your choice of premium Greek food.</p>
	<div class="button-container">
		<button type="loginbutton" onclick="window.location.href='/Login'">Login</button>

	</div>

	<div class="register-button-container">
		<button type="registerbutton" onclick="alert('Insert register page here')">Register</button>
	</div>


	<footer>
		<small><i>Copyright &copy; 2024 Ruben x John</i></small> <!-- Add your name -->
	</footer>

</body>
</html>