/* General Styles */
body {
    background-color: #2C2C2C;
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #E7E2B5;
}

h1 {
    background-color: #2C2C2C;
    color: #E7E2B5;
    display: flex; /* Flexbox for centering */
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Cinzel', serif;
    position: relative;
    top: 100px;
}

.paragraph,
.subheading {
    text-align: center;
    margin: 10px 0;
    position: relative;
    top: 100px;
    font-family: 'Cinzel', serif;
}

/* Subheading specific offset */
.subheading {
    top: 150px;
}

/* Form Container Styling */
.form-container {
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 150px;
}

.username,
.password,
.reenter-password,
.submit-button-container {
    margin: 15px 0;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
    width: 120px; /* Aligns labels uniformly */
}

.text-field {
    width: calc(100% - 130px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1F1F1F;
    color: #E7E2B5;
    outline: none;
}

    .text-field:focus {
        border-color: #E7E2B5;
        background-color: #2C2C2C;
    }

/* Button Styling */
button {
    font-family: 'Cinzel', serif;
    padding: 10px 15px;
    border: 1px solid #E7E2B5;
    border-radius: 5px;
    background-color: #1F1F1F;
    color: #E7E2B5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #444444;
    }

/* Back Button Styling */
.button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.login-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-button {
    padding: 10px 20px;
    background-color: #444444;
    border: 1px solid #E7E2B5;
    border-radius: 5px;
    color: #E7E2B5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .back-button:hover {
        background-color: #666666;
    }

/* Footer Styling */
footer {
    background-color: #2C2C2C;
    color: #E7E2B5;
    text-align: left;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-container {
        width: 90%;
        top: 120px;
    }

    .text-field {
        width: 100%;
    }

    label {
        width: auto;
        display: block;
        text-align: center;
    }

    .button-container {
        left: 10px;
        top: 20px;
    }
}
